@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{

--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

--Very-dark-blue-main-bg : hsl(217, 54%, 11%);
--Very-dark-blue-card-bg : hsl(216, 50%, 16%);
--Very-dark-blue : hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Outfit', sans-serif;
}


/* Container */
.container{
    background-color:var(--Very-dark-blue-main-bg) ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}




/* Card Body Style */
.card{
    
    padding:1.4rem;
    max-width: 350px;
    background-color:var(--Very-dark-blue-card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 20px 15px 20px rgba(0,0,0,0.15),0 20px 5px 50px rgba(0,0,0,0.03);
    
}
/* Image */

.image-container{
    position: relative;
    transition: all 0.4s;

    
}
img{
    width: 100%;
    border-radius: 10px;
}
.image-container:hover::before{
    position: absolute;
    content: url(/images/icon-view.svg);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    border-radius: 10px;
    background-color: var(--Cyan);
    cursor: pointer;
}

/* Card Body */

.card-body>*{
    margin-top: 1.3rem;
}


/* Card Title */
h2{
color: var(--White);
font-weight: 600;
font-size: 1.5rem;
}


h2:hover{
    color: var(--Cyan);
    cursor: pointer;
}
/* Card Description */
.description{
    font-size: 1.2rem;
    color: var(--Soft-blue);
    padding: 0;
    font-weight: 300;
}

/* Card details */

.card .details{
    display: flex;
    justify-content: space-between;
}




/* Details */
.details .price{

    color: var(--Cyan);
    display: flex;
    font-weight: 600;

}

.price::before{
    content: url(/images/icon-ethereum.svg);
    margin-right: 6px;
}

.date{
    color: var(--Soft-blue);
    display: flex;
    align-items: center;
    font-weight: 400;
}
.date::before{
    content: url(/images/icon-clock.svg);
    margin-right: 7px;
}


/* divider */
hr{
    border: none;
    height: 0.9px;
    background-color: var(--Very-dark-blue);
}


/* Creator Section */
.creator{
    display: flex;
align-items: center;
gap: 1rem;
}




.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid white 2px;
  }

  .creator p{
    color: var(--Soft-blue);
  }

  .creator-name{
    color: var(--White);
  }
.creator-name:hover{
    color: var(--Cyan);
    cursor: pointer;
}




